<div class="single-post">

  <h3>{{post?.title}}</h3>
  <p>posted by: {{post?.author}}</p>

  <div class="comment-area">

    <div *ngIf="post?.comments">
      <div *ngFor="let comment of post?.comments">
        <app-single-comment [comment] = "comment"></app-single-comment>
      </div>
    </div>

    <div class="comment-form">
      <label>Add a comment:</label>
      <input class="comment-author-input" name = "newAuthor" type="text" [(ngModel)]="newAuthor" placeholder ="Author">
      <input class="comment-content-input" name = "newContent" type="text" [(ngModel)]="newContent" placeholder ="Comment">
      <button (click)="submitComment()">Comment</button>
    </div>
    
  </div>

</div>