.placeholder > h1 {
 color: black;
 margin-left: 15px;
}

.placeholder{
    background-color: lightsteelblue;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: flex;
}

app-login-button{
    margin: 20px 0px 0px 65%;
    padding: 0px;
}