.single-comment{
    color: var(--fontcolor);
    margin: 10px 30px;
    padding: 10px;
    background: #0d1d48b5;
    display: grid;
    align-items: center;
    border-radius: 10px;
}

p, h5{
    margin: 0px;
}

p{
    margin-top: 5px;
}